<div class="container mat-elevation-z8">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="productDetails()"><mat-icon>info</mat-icon></a>
  </div>
  <mat-card class="card">
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
      <mat-form-field class="full-width">
        <input matInput placeholder="Product Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Please enter Product Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Product Description" formControlName="description"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('description').valid && productForm.get('description').touched">Please enter 200 or less characters.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Product URL" formControlName="url"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('url').valid && productForm.get('url').touched">Please enter 500 or less characters.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-select [compareWith]="compareFn" placeholder="Categories" formControlName="categoryIds" multiple>
            <mat-option *ngFor="let category of categoryList" [value]="category.CategoryId">{{category.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>